.search {
  display: flex;
  position: center;
}

.searchbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.search-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter:hover {
  border: 1px solid rgb(115, 132, 150);
}

.nw {
  background-color: rgb(57, 0, 153);
  display: flex;
  width: 100%;
  padding: 5px 10px 5px 20px;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}

.create {
  background-color: rgb(57, 0, 153);
  color: rgb(255, 255, 255);
  height: 40px;
  min-width: 64px;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-weight: 600;
}
